@import "tailwindcss";

@theme {
  --color-primary: #fe876d;
  --color-primary-hover: #fd7659;
  --color-focus: #2d76a4;
  --color-message-own: #fcf6c5;
  --color-message-other: #ffffff;
  --color-text-primary: #434b54;
  --color-text-secondary: #b3bcc3;
  --color-border: #d4dade;
  --color-bottom-bar: #3698d4;
}
